.fixed-adaptive-block
	position: fixed
	top: 0
	left: 0
	width: 100%
	padding: 1em
	background: $pink
	color: #FFF
	+after
	$denominator: 2
	z-index: 108 * 108 * 108 * 108 * 108
	display: none
	@media (max-width: $site-width)
		display: block
	.sandwich
		float: left
		width: $h / $denominator
		padding-top: .3em
		i
			margin-right: .5em
		span
			text-transform: uppercase
			font-weight: 500
	.buttons 
		float: right 
		a 
			margin-left: 1em
#wpadminbar
	&.mobile
		display: none !important
.sandwich-menue
	display: none
	position: absolute
	left: 0
	top: 0
	width: 60em
	background: $text
	color: #FFF
	min-height: 100%
	z-index: 108 * 108 * 108 * 108
	+single-transition(0.333s, left)
	border-right: 1px solid shade($text, 24)
	@media (max-width: $site-width)
		display: block
		left: -300em
	ul
		padding: 0
		li
			padding: 0
			list-style: none
			+after
			&:after
				display: none
			+before
			&:before
				display: none
	a
		border-bottom: 0
		color: #FFF
		display: block
		text-align: center
		padding: .666em 1em
		border-bottom: 1px solid rgba(white, $alpha)
		text-transform: uppercase
	.sub-menu
		display: none
	.info
		padding: 1em 0
	div
		// font-size: .9em
		// text-align: center
		// padding: .333em 1em
	&.phone
		font-size: 1.333em
	.title
		font-size: 1.333em
		background: $title
		text-align: center
		text-transform: uppercase
		color: #FFF
		padding: .666em 1em
.adaptive-header 
	display: none
	padding: 1em
	padding-top: 5em
	text-align: center
	@media (max-width: $site-width) 
		display: block
	+after
	>div
		display: inline-block
		>a 
			float: left 
		>div 
			text-align: left
			float: left 
			font-weight: 500
			font-size: 1.2em
			color: #334456
			padding-left: 2em
			padding-top: .5em
