.calculator-module
	padding: 1em 0
	@media (max-width: $site-width)
		padding: 1em
	h2
		text-align: center
		font-size: 30px
		color: $title
	.subtitle
		margin-top: -.5em
		margin-bottom: 1em
		text-align: center
		font-size: 18px
		color: $text
	.calc 
		+after
		.row
			width: $h / 5
			float: left
			@media (max-width: 1108px)
				width: 100%
		.steps
			+after
			.row
				background: #ECECEC
				border: 1px solid #DFDFDF
				padding: .333em
				+after
				&:first-child
					border-radius: 4px 0 0 4px
				&:last-child
					border-radius: 0 4px 4px 0
				.status
					+after
					float: left 
					width: 17%
					padding-left: .222em
					padding-top: .222em
					max-width: 3em
				.place 
					float: left 
					width: 100% - 17
					div 
						color: $title
						&:nth-child(1) 
							text-transform: uppercase
							font-weight: 600
				&.step-1
					.status
						&:after
							@extend .icons-calc-step-1
				&.step-2
					.status
						&:after
							@extend .icons-calc-step-2
				&.step-3
					.status
						&:after
							@extend .icons-calc-step-3
				&.step-4
					.status
						&:after
							@extend .icons-calc-step-4
				&.step-5
					.status
						&:after
							@extend .icons-calc-step-5
				&.valid
					background: url($dir + 'bg/index-1.png') repeat-x
					.place 
						div 
							color: #FFF
					.status
						&:after
							@extend .icons-calc-step-ok
		.options
			+label	
			+after
			max-height: 10em
			@media (max-width: 1108px)
				max-height: inherit
			.row
				padding: 1em .5em
				min-height: 15em
				max-height: 15em
				@media (max-width: 1108px)
					max-height: inherit !important
					min-height: inherit !important
				&:nth-child(odd) 
					background: #F5F5F5
				p 
					color: $title
					font-size: 14px
					margin: 1em 0 .5em
				&:nth-child(4)
					@media (max-width: 1108px)
						min-height: 18em !important
					.map
						margin-top: -1em
						+after
						@media (max-width: 1108px)
							margin-top: 0
						svg
							@media (max-width: 1108px)
								width: 15em
				&:nth-child(5) 
					.iradio_minimal-red
						top: 4px
				&.disabled
					position: relative
					+after
					&:after
						position: absolute
						background: rgba(#FFF, .777)
						left: 0
						top: 0
						width: 100%
						height: 100%
						z-index: 999
			.select-container
				+after
				.item
					float: left 
					width: 30%
					margin-right: 5%
					border-radius: 4px
					border: 1px solid #DFDFDF
					padding: .333em .5em
					text-align: center
					color: #000
					cursor: pointer
					&:last-child
						margin-right: 0
					div 
						&:nth-child(1) 
							height: 2.5em
						&:nth-child(2) 
							height: 1.5em
						span 
							border-bottom: 1px dashed
							font-size: .9em
							font-weight: 600
							sup
								font-size: .6em
								vertical-align: top
					&.active
						border-color: $green 
						background: #FFF
						span 
							border-bottom: #FFF
			.ui 
				padding: 0 .555em
				+after
			.amount-containers-input
				margin-bottom: 1.5em
				>span 
					color: $green
					font-weight: 600
					text-transform: uppercase
					@media (max-width: 450px)
						display: block
						margin-bottom: .5em
				>input 
					display: inline-block
					float: right
					width: 8em
					height: 2.555em
					font-size: .6em
					@media (max-width: 1108px)
						width: 23em
					@media (max-width: 450px)
						width: 100%
						display: block 
						float: none
			.buttons
				span
					color: $title 
					cursor: pointer
					border-bottom: 1px dashed
					font-size: .9em
					margin-right: .333em
					&:last-child
						margin-right: 0
					&.active
						background: $green
						color: #FFF
						padding: .333em
						border-radius: 4px
						border-bottom: 0
			.map
				text-align: center
				padding: 1em
		.final
			.row
				background: #E2E2E2
				padding: 1em .333em
				height: 4em
				@media (max-width: 600px)
					height: auto
					padding: 1em
					text-align: center
				&:nth-child(1) 
					padding: .333em
					width: $h / 5 * 2
					background: #ECECEC
					padding-top: 1em
					@media (max-width: 1108px)
						width: $h
					span 
						font-size: 20px
						color: $title
						font-weight: 600
						&:nth-child(1) 
							text-transform: uppercase
						&.final-price
							margin-left: .777em
							color: $orange
							font-size: 30px
							+before
							&:before
								@extend .icons-somewhere
								display: inline-block
								margin-right: .333em
						@media (max-width: 600px)
							display: block
							margin-left: 0 !important
							margin-bottom: .5em
							text-align: center
				input 
					margin-bottom: 0
				.btn 
					padding: .555em