.category
	.list
		+after
		.item
			+img(7em)
			+absoluteLink
			padding: .5em
			position: relative
			float: left
			width: $h/4 - 1
			margin-bottom: 1.333em
			margin-right: 1.333%
			&:nth-child(4n) 
				margin-right: 0
			@media (max-width: 777px)
				&:nth-child(4n) 
					margin-right: inherit
				width: $h/2 - 1
				margin-right: 2%
				&:nth-child(2n) 
					margin-right: 0
			@media (max-width: 450px)
				width: $h
				margin-right: 0 !important
			div 
				margin-bottom: .5em
			.title
				font-weight: 600
				text-align: center 
				color: $green
				text-transform: uppercase
			.text 
				text-align: justify
				font-size: .9em
			.date
				font-size: .8em
				color: #BCBCBC
			&:hover
				+box-shadow(3px 3px 3px 6px rgba(#000, .007))