.column-left
	.catalog-menue
		border: 0
		+ullireset
		>ul 
			border: $border 1px solid
			border-radius: 0 0 4px 4px
			>li 
				>a 
					color: #334456
					padding: 1em .5em
					text-transform: uppercase
					display: block
					background: #FAFDFF
					font-weight: 500
					font-size: 1.333em
					border-bottom: $border 1px solid
					+after
					&:after
						@extend .icons-left-menue-arrow-right
						position: absolute
						right: .5em
						top: 1em
				&:last-child 
					>a 
						border-bottom: 0
				&.active
					>a 
						&:after
							@extend .icons-left-menue-arrow-down
							top: 1.333em
				>ul 
					>li 
						>a 
							background: #F1F6F9
							padding: .75em 2em
							color: #006A96
							width: 100%
							display: block
							position: relative
							+after
							+before
							&:after 
								background: url($dir + "bg/menue-dashed.png") repeat-x
								width: 100%
								height: 1px
								position: absolute
								bottom: 0
								left: 0
							&:before
								position: absolute 
								left: 1em
								top: 1.111em
								@extend .icons-left-menue-sub-arrow
						&:last-child
							>a 
								&:after
									display: none
	.trade-marks
		.list 
			a 
				display: block
				color: $text
				font-size: 1.1em
				padding: 1em
				border-bottom: $border 1px solid
				background: #FAFDFF
				&:last-child
					border-bottom: 0
				&:hover 
					background: #FFF
				img 
					margin-right: .5em
					display: inline-block
		.search
			div 
				padding: 1em 1em .5em 1em
				position: relative
				&:nth-child(1) 
					+before
					&:before
						@extend .icons-trade-marks-search
						position: absolute
						left: 2em
						top: 1.777em
					input 
						margin-bottom: 0
						border: 1px solid $pink
						// height: 40px
						padding-left: 3em
						+input-placeholder
							color: #00A7F1
							font-size: 1.1em
				&:nth-child(2) 
					padding-bottom: 1.5em
					text-align: center
	.left-filter
		padding: 0 
		.section
			border-bottom: $border 1px solid
			&:last-child
				border-bottom: 0
			.name 
				padding: 1em .5em .5em
				color: #666666
				font-weight: 500
				font-size: 1.2em
			label
				padding: .5em .5em 0
				position: relative
				span 
					font-weight: 500				
		.show-more
			$bg: #EFF4F8
			$color: #006A96
			background: $bg
			padding: 1em
			text-align: center
			color: $color
			margin-bottom: .5em
			cursor: pointer
			+transition(.444s)
			&:hover 
				color: shade($color, 11)
				background: tint($bg, 20)	