.container
	width: $site-width
	margin: 0 auto
	position: relative
	@media (max-width: $site-width)
		width: $h
	+after
	&.content
		padding: 2em 0
		.column-left
			float: left 
			width: $h / 4
			@media (max-width: 1000px) 
				display: none
		.column-right
			padding-left: 2em
			float: left 
			width: $h - $h / 4
			@media (max-width: 1000px) 
				width: 100%
				padding-left: 0
		@media (max-width: $site-width)
			padding: 1em
		h1, h2, h3, h4
			text-transform: uppercase
		.subtitle
			margin-top: -.5em
			font-size: .9em
			color: $gray
			margin-bottom: 1em
			p
				margin-bottom: .5em
		.page-image
			max-width: 33%
			float: left
			margin-right: 1em
			margin-bottom: 1em
			@media (max-width: $site-width)
				width: $h
				margin: 0 0 1em
		ul, ol
			margin-bottom: 1em
			padding-left: 1.333em
			li 
				padding-left: 0em
				font-weight: 400
				&:after, &:before
					display: none
		ol 
			margin-bottom: 1em
		table 
			margin: 0 auto 1em
			width: 100%
			tbody
				width: 100%
			tr 
				width: 100%
				&:nth-child(odd) 
					background: tint($gray, 66)
				&:nth-child(even) 
					background: tint($gray, 88)
				th 
					background: $blue
					padding: .5em
					color: #FFF
					text-transform: uppercase
					font-weight: 600
				td 
					padding: .5em
				@media (max-width: 600px)
					th, td 
						// display: block 
						// width: 100% !important
			&.text-center
				th, td 
					text-align: center

