.footer
	.level-0	
		@extend %info-block
		background: #EFF4F8
		@media (max-width: $site-width) 
			display: none
	.level-1
		background: #006A96
		color: #FFF
		@media (max-width: $site-width) 
			padding: 1em 1em 0
		+ullireset
		a 
			color: #FFF
		.container
			padding: 1em 0
			.row
				float: left 
				position: relative
				padding-right: 1em
				&:nth-child(1) 
					width: 20%
				&:nth-child(2) 
					width: 20%
				&:nth-child(3) 
					width: 43%
					padding-right: 7em
				&:nth-child(4) 
					width: 17%
					padding-right: 0
				@media (max-width: $site-width) 
					width: $h !important
					padding: 0 !important
					text-align: center 
					margin-bottom: 1em
				.title 
					@extend h3
					color: #FFF
				.form
					div 
						&:nth-child(1) 
							text-align: right
						&:nth-child(3) 
							text-align: right 
							.btn 
								font-size: 1.111em
						@media (max-width: $site-width) 
							text-align: center !important
							input 
								max-width: 30em
								margin: 0 auto 1em
					@media (max-width: $site-width) 
						padding: 0em 0 1em
				.authorization
					background: $blue2
					position: absolute
					top: -1em
					right: 0
					padding: .5em 1em
					@media (max-width: $site-width) 
						position: relative
						top: inherit
						right: inherit
						display: inline-block
						margin: 1em 0
						border-radius: 4px
				.social 
					float: right
					padding: 2.5em 0
					+after 
					a 
						display: block 
						float: left 
						margin-right: .5em
						margin-bottom: .5em
						+hoverOpacity(.5,.6s)
						&:last-child 
							margin-right: 0
					@media (max-width: $site-width) 
						float: none
						text-align: center
						padding: 1em 0
						a 
							display: inline-block
							float: none
	.level-2 
		background: #005C86
		color: #55A1C6
		padding: .5em 0		
		font-size: .9em
		@media (max-width: $site-width) 
			text-align: center