.header
	@media (max-width: $site-width) 
		// padding: 1em 1em 0
	.level-0
		@media (max-width: $site-width) 
			display: none
		+after
		background: $pink
		color: #FFF
		a 
			color: #FFF
		.row
			float: left 
			+ullireset
			&:nth-child(1) 
				width: 24%
				font-size: 1.2em
				a 
					display: block
					padding: 1.2em .5em 1em 0
					text-align: left
			&:nth-child(2) 
				width: 58.5%
				font-size: 1.4em
				ul 
					li 
						float: left
						border-right: 1px solid #D01072
						&:nth-child(1) 
							border-left: 1px solid #D01072
						&:last-child
							border-right: 0
						a 
							font-weight: 300
							display: block
							padding: 1em .333em
							&:hover
								background: rgba(#FFF, .108)
			&.authorization
				width: 17.5%
	.level-1 
		@extend %info-block
		@media (max-width: $site-width) 
			display: none
	.level-2 
		background: #006EA8
		@media (max-width: $site-width) 
			// display: none
		.container
			padding: 1em 0
			@media (max-width: $site-width) 
				padding: 1em
			+before
			&:before
				@extend .icons-header-search
				position: absolute
				left: .75em
				top: 1.5em
				@media (max-width: $site-width) 
					left: 1.25em
			input 
				width: 90%
				margin-bottom: 0
				border: 1px solid $pink
				height: 40px
				padding-left: 3em
				+input-placeholder
					color: #00A7F1
					font-size: 1.1em
					// padding-left: 1.5em
			.btn
				position: absolute
				right: 0
				top: 14px
				padding: .65em 1em
				font-size: 1.1em
				@media (max-width: $site-width) 
					right: 1em
	.level-3 
		@media (max-width: $site-width) 
			display: none
		.container
			.group
				.cell 
					padding: 1em
					width: $h / 6
					text-align: center 
					// height: 10em
					background: #F1F6F9
					border: 1px solid $blue
					border-top: 0
					border-right: 0
					+hoverOpacity(.7, .666s)
					&:nth-child(1) 
						border-radius: 0 0 0 4px
					&:nth-child(6) 
						border-radius: 0 0 4px 0
						border-right: 1px solid $blue
					div 
						&:nth-child(1) 
							height: 6em
							
						&:nth-child(2) 
							margin-top: 1em
							color: $blue 
							font-weight: 500
							font-size: 1.2em