.ui-slider
	background: url($dir + 'bg/ui-bg.png') repeat-x
	width: 100%
	height: 20px
	position: relative
	+before 
	+after 
	&:before
		@extend .icons-ui-part-left
		position: absolute
		left: -10px
		top: 0
	&:after
		@extend .icons-ui-part-right
		top: 0
		position: absolute
		right: -10px
	.ui-slider-range-min
		height: 7px
		border-radius: 4px 0 0 4px
		background: url($dir + 'bg/ui-bg-active.png') bottom repeat-x
		position: absolute
		left: 0
		top: 6px
	.ui-slider-handle
		@extend .icons-ui-point
		display: block
		position: absolute
		top: -9px
		cursor: pointer
		margin-left: -7px
		z-index: 1
	.ui-slider-range
		height: 7px
		background: url($dir + 'bg/ui-bg-active.png') bottom repeat-x
		top: 6px
		position: absolute
	.min
		position: absolute
		left: -1em
		bottom: -1.5em
		color: #000
		font-size: 12px
	.max 
		position: absolute
		right: -1em
		bottom: -1.5em
		color: #000
		font-size: 12px