.banner	
	margin-bottom: 2em
	img 
		width: 100%
.authorization
	background: $blue
	padding: .5em
	border-radius: 0 0 4px 4px
	text-align: center
	i 
		margin-right: .333em
.place 
	margin-bottom: 2em
	border: $border 1px solid
	border-radius: 4px
	.title
		background: #00A3D6
		font-weight: 500
		font-size: 1.5em
		text-transform: uppercase
		text-align: center
		padding: .5em 1em
		color: #FFF
		border-radius: 4px 4px 0 0 
		border-bottom: $border 1px solid
	&.show-more-title
		.title-place
			background: #EFF4F7
			padding: .5em 1em
			h1, h2, h3, h4 
				font-weight: 500
				font-size: 1.333em
				text-transform: uppercase
				display: inline-block
				color: $blue
				margin-bottom: 0
			a 
				float: right
				color: #AFBED0
	.text 
		padding: 1em
		color: #393939
		p 
			line-height: 1.5em
			text-align: justify
	.inner
		padding: 1em
%info-block
	padding: .5em 0
	+after
	a 
		color: #334456
	.row
		float: left
		&:nth-child(1) 
			width: 13%
		&:nth-child(2) 
			width: 20%
		&:nth-child(3) 
			width: 20%
		&:nth-child(4) 
			width: 23%
		&:nth-child(5) 
			width: 14%
		&:nth-child(6) 
			width: 10%
		&.address
			padding-top: 1.5em
			div 
				&:nth-child(1) 
					font-size: 1.3em
					font-weight: 500
				&:nth-child(2) 
					font-size: .9em
					font-weight: 300
					color: #939BA6
		&.phone-place
			padding-top: 1.5em
			div 
				&:nth-child(1) 
					a 
						color: #334456
						font-size: 1.8em
						font-weight: 500
				&:nth-child(2) 
					color: #939BA6
					font-size: 1.3em
		&.callback
			padding-top: 1em
			.btn 
				color: #000
				background: #FFFC00
				border: $pink 2px solid
				border-radius: 4px
				text-transform: uppercase
				font-weight: 500
				font-size: 1.1em
				text-align: left
				padding-left: 2.777em
				+before
				&:before
					@extend .icons-header-phone
					position: absolute
					left: .5em
					top: .75em
				&:hover 
					background: shade(#FFFC00, 4)
		&.cart
			padding-left: 1em
			padding-top: 1em
			.btn 
				border: $pink 2px solid
				border-radius: 4px
				background: #FFF
				color: $pink
				font-weight: 500
				font-size: 1.1em
				padding: 1em
				text-transform: none
				span 
					position: relative
				+before
				&:before
					position: absolute
					+absoluteCenter
					@extend .icons-header-cart
					z-index: 0
					top: 0
.product-list
	padding: 1em
	.cell 
		float: left 
		width: $h/4 - 1
		margin-right: 1.333%
		border: $border 1px solid
		border-radius: 4px
		margin-bottom: 1em
		&:nth-child(4n) 
			margin-right: 0
		@media (max-width: 850px) 
			width: $h / 3 - 1
			margin-right: 1.444%
			&:nth-child(4n) 
				margin-right: 1.444%
			&:nth-child(3n) 
				margin-right: 0
		@media (max-width: 650px) 
			width: $h / 2 - 1
			margin-right: 2%
			&:nth-child(4n), &:nth-child(3n) 
				margin-right: 2%
			&:nth-child(2n) 
				margin-right: 0
		@media (max-width: 440px) 
			width: $h !important
			margin-right: 0 !important
		.image
			+img(8em)
			padding: .5em
			position: relative
			>.img 
				border-radius: 4px
			>.status
				position: absolute 
				left: 0
				top: 0
				z-index: 14
				+after
				&.discount
					&:after
						@extend .icons-status-discount
		.name 
			font-size: .8em
			font-weight: 500
			text-align: center 
			padding: .5em
			overflow: hidden
			height: 5.5em
			a 
				color: #006A96
		.descriptions 
			border-top: 1px solid $border 
			padding: .5em 0
			div 
				+after 
				font-size: .8em
				padding: 0 .5em
				span 
					&:nth-child(1) 
						float: left 
						color: #334456
					&:nth-child(2) 
						float: right
						color: #567D93
		.other-info
			border-bottom: 1px solid $border 
			padding-bottom: .5em
			p 
				margin-bottom: 0
				font-size: .8em
				padding: 0 .5em
				font-weight: 500
				color: #567D93
		.price
			+after
			padding: 1em .5em
			span
				font-weight: 500
				&:nth-child(1) 
					float: left 
					color: $orange
					font-size: 1.333em
				&:nth-child(2)  
					float: right 
					color: $red 
					font-size: 1.75em
		.button
			text-align: center 
			padding-bottom: 1em
			.btn 
				background: #4C81B4
				border-color: #4C81B4
				color: #FFF 
		&:hover 
			+transition(.6s)
			+box-shadow(0px 1px 9px 0px rgba(#000, .12))
			.button
				.btn 
					background: $yellow
					border-color: $yellow			
.product-list-show-more
	background: #F1F6F9
	text-align: center 
	width: 100%
	cursor: pointer
	padding: .5em
	+transition(.6s)
	border-radius: 4px 4px 0 0
	border-top: 1px solid $border
	span 
		text-transform: uppercase
		color: #AFBED0
		font-size: 1.5em
	i 
		margin-right: .5em	
	&:hover 
		background: shade(#F1F6F9, 3)
.breadcrumbs
	+ullireset
	background: #F1F6F9
	padding: 1em
	margin-bottom: 1em
	border-radius: 4px
	ul 
		padding-left: 0 !important
		margin-bottom: 0 !important
		li 
			display: inline-block
			span 
				color: #334456
				font-weight: 500
			a 
				color: #A4A6A8
				font-weight: 500
				+after
				&:after
					@extend .icons-breadcrumbs-arrow
					display: inline-block
					vertical-align: middle
					margin-left: .5em
					margin-right: .333em					
			&:last-child
				a 
					&:after
						display: none
.paginator
	position: relative
	+ullireset
	// height: 3em
	// padding: 1em
	+after
	ul 
		width: 57.5%
		margin: 0 auto
		padding-left: 0 !important
		li 
			float: left
			margin-right: .333em
			&:last-child
				margin-right: 0
			a 
				padding: .5em 1em 
				border: $border 1px solid 
				border-radius: 4px
				font-size: 1.2em
				color: #334456
				font-weight: 500
				margin-bottom: .5em
			&.active
				a 
					color: $red
			&:hover
				a 
					background: #F1F6F9
					color: #006A96
.add-to-cart-success 
	padding: 1em

.dropdown-list
	+list("1")
	padding: 0 1em
	border-top: 0 !important
	.list 
		+after
		>.row
			float: left 
			width: $h / 3
			ul 
				li 
					.drop
						display: none
						padding: 1em