.darkness {
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(#000, .333);
	width: 100%;
	height: 100%;
	z-index: 108 * 108 * 108;
	display: none;
}

.modal-window {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 108 * 108 * 108 * 108;
	display: none;
	border: 1px solid rgba(#000,.333);
	padding: 1.333em 2em;
	@media (max-width: $site-width / 3) {
		// padding: 0 1em;
	}
	background: #F0F0F0;
	margin: 10em auto 0;
	width: $site-width / 3.5;
	position: relative;
	border-radius: 4px;
	@media (max-width: $site-width / 3) {
		width: 100%;
		margin-top: 4em;
	}
	.title {
		margin-bottom: 1em;
		color: $green;
		text-transform: uppercase;
		font-weight: 600;
		div {
			text-align: center;
			&:nth-child(1) {
				font-size: 24px;
				line-height: 26px;
			}
			&:nth-child(1) {
				font-size: 20px;
				line-height: 24px;
			}
		} 
	}

	.icons-close {
		position: absolute;
		top: -26px;
		right: -26px;
		cursor: pointer;
		@include transition(.666s);
		&:hover {
			@include rotate(360deg);
		}
		@media (max-width: $site-width / 3) {
			top: -2.5em;
			right: 1.5em;
		}
	}
	// @include form;
}