.left {
	float: left;
}
.right {
	float: right;
}
.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}
.btn {
	vertical-align: middle;
	cursor: pointer;	
	@include transition(.444s, ease-in);
	padding: .444em 1em;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	border-radius: 4px;
	border: 1px solid $pink;
	background: #FFF;
	position: relative;
	color: $pink;
	&:hover {
		color: tint($pink, 6);
		background: shade(#FFF, 3);
	}
	&.green {
		background: $green;
		color: #FFF;
		&:hover {
			background: tint($green, 22);
		}
	}
	&.red {
		background: $red;
		color: #FFF;
		&:hover {
			background: tint($red, 22);
		}
	}
	&.pink {
		border-color: $pink;
		background: $pink;
		color: #FFF;
		&:hover {
			background: tint($pink, 22);
		}
	}
	&.blue {
		border-color: $blue2;
		background: $blue2;
		border-bottom: 0;
		color: #FFF;
		&:hover {
			background: tint($blue2, 22);
		}
	}
	&.white {
		border-color: $pink;
		background: $white;
		color: #334456;
		&:hover {
			background: #F1F6F9;
			color: #006A96;
		}
	}
}
.subtitle {
	color: $subtext;
}
.dashed-link {
	border-bottom: 1px dashed;
	text-decoration: none;
	cursor: pointer;
}
.text-green {
	color: $green;
}
.text-red {
	color: $red;
}
.text-brown {
	color: $brown;
}
.text-gray {
	color: $gray;
}
.text-yellow {
	color: $yellow !important;
}
.padding-left {
	padding-left: 1em;
}
.padding-right {
	padding-right: 1em;
}

.group {
	@include before;
	@include after;
	&.no-margin {
		.cell {
			margin-right: 0 !important;
		}
	}
}
.cell {
	float: left;
	display: block;
	&.size-100 {
		width: $h;
	}
	&.size-85 {
		width: 85%;
	}
	&.size-80 {
		width: 80%;
	}
	&.size-77 {
		width: $h - ($h/3);
	}
	&.size-50 {
		width: $h/2 - 1;
		margin-right: 2%;
		&:nth-child(2n) {
			margin-right: 0;
		}
		&.adapt {
			@media (max-width: 1000px) {
				width: $h;
				margin-right: 0;
			}
		}
	}
	&.size-33 {
		width: $h/3 - 1;
		margin-right: 1.444%;
		&:nth-child(3n) {
			margin-right: 0;
		}
		&.adapt {
			@media (max-width: 1000px) {
				width: $h/2 - 1;
				margin-right: 2%;
				&:nth-child(3n) {
					margin-right: 2%;
				}
				&:nth-child(2n) {
					margin-right: 0;
				}
			}
			@media (max-width: 800px) {
				width: $h !important;
				margin-right: 0% !important;				
			}
		}
	}
	&.size-25 {
		width: $h/4 - 1;
		margin-right: 1.333%;
		&:nth-child(4n) {
			margin-right: 0;
		}
		&.adapt {
			@media (max-width: 1000px) {
				width: $h / 3 - 1;
				margin-right: 1.444%;
				&:nth-child(4n) {
					margin-right: 1.444%;
				}
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
			@media (max-width: 650px) {
				width: $h / 2 - 1;
				margin-right: 2%;
				&:nth-child(4n) {
					margin-right: 2%;
				}
				&:nth-child(3n) {
					margin-right: 2%;
				}
				&:nth-child(2n) {
					margin-right: 0%;
				}
			}
			@media (max-width: 500px) {
				width: $h !important;
				margin-right: 0 !important;					
			}
		}
	}
	&.size-20 {
		width: $h/5 - 1;
		margin-right: 1.25%;
		&:nth-child(5n) {
			margin-right: 0;			
		}
		&.adapt {
			@media (max-width: $site-width) {
				width: $h/4 - 1;
				margin-right: 1.333%;
				&:nth-child(5n) {
					margin-right: 1.333%;
				}				
				&:nth-child(4n) {
					margin-right: 0;
				}
			}
			@media (max-width: 1000px) {
				width: $h / 3 - 1;
				margin-right: 1.444%;
				&:nth-child(5n), &:nth-child(4n) {
					margin-right: 1.444%;
				}
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
			@media (max-width: 650px) {
				width: $h / 2 - 1;
				margin-right: 2%;
				&:nth-child(5n), &:nth-child(4n), &:nth-child(3n) {
					margin-right: 2%;
				}
				&:nth-child(2n) {
					margin-right: 0%;
				}
			}
			@media (max-width: 500px) {
				width: $h !important;
				margin-right: 0 !important;					
			}
		}
	}
	&.size-16 {
		width: $h/6 - 1;
		margin-right: 1.2%;
		&:nth-child(6n) {
			margin-right: 0;			
		}
	}
	&.size-15 {
		width: 15%;
	}	
	@media (max-width: $site-width) {
		/* width: $h !important;
		padding-right: 0 !important;
		padding-left: 0 !important;
		margin-bottom: 1em; */
	}
}
.line {
	width: 100%;
	position: absolute;
	height: 1px;
	background: $orange;
}
.img-left {
	float: left;
	margin-right: 1em;
}
.img-right {
	float: right;
	margin-left: 1em;
}
.pad-r {
	padding-right: 1em;
}
.pad-l {
	padding-right: 1em;
}
.mb {
	margin-bottom: 1em;
}
.br {
	height: 1em;
}
.hide {
	display: none;
}
.show {
	display: block;
}