.content {
	/* For emoji replacement images */
	img.emoji {
		display: inline !important;
		border: none !important;
		height: 1em !important;
		width: 1em !important;
		margin: 0 .07em !important;
		vertical-align: -0.1em !important;
		background: none !important;
		padding: 0 !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}

	.mceIEcenter {
		text-align: center;
	}

	img {
		height: auto;
		max-width: 100%;
	}

	.wp-caption {
		margin: 0; /* browser reset */
		max-width: 100%;
	}

	/* iOS does not obey max-width if width is set. */
	.ios .wp-caption {
		width: auto !important;
	}

	.wp-caption img {
		display: block;
	}

	div.mceTemp {
		-ms-user-select: element;
	}

	dl.wp-caption,
	dl.wp-caption * {
		-webkit-user-drag: none;
	}

	.wp-caption-dd {
		font-size: 14px;
		padding-top: 0.5em;
		margin: 0; /* browser reset */
	}

	.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.alignleft {
		float: left;
		margin: 0.5em 1em 0.5em 0;
	}

	.alignright {
		float: right;
		margin: 0.5em 0 0.5em 1em;
	}

	/* Remove blue highlighting of selected images in WebKit */
	img[data-mce-selected]::selection {
		background-color: transparent;
	}

	/* Styles for the WordPress plugins */
	.mce-content-body img[data-mce-placeholder] {
		border-radius: 0;
		padding: 0;
	}

	.mce-content-body img[data-wp-more] {
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		width: 96%;
		height: 16px;
		display: block;
		margin: 15px auto 0;
		outline: 0;
		cursor: default;
	}

	.mce-content-body img[data-mce-placeholder][data-mce-selected] {
		outline: 1px dotted #888;
	}


	/* Gallery, audio, video placeholders */
	.mce-content-body img.wp-media {
		border: 1px solid #aaa;
		background-color: #f2f2f2;
		background-repeat: no-repeat;
		background-position: center center;
		width: 99%;
		height: 250px;
		outline: 0;
		cursor: pointer;
	}

	.mce-content-body img.wp-media:hover {
		background-color: #ededed;
		border-color: #777;
	}

	.mce-content-body img.wp-media.wp-media-selected {
		background-color: #d8d8d8;
		border-color: #777;
	}

	.mce-content-body img.wp-media.wp-gallery {
		background-image: url(images/gallery.png);
	}

	/* Image resize handles */
	.mce-content-body div.mce-resizehandle {
		border-color: #777;
		width: 7px;
		height: 7px;
	}

	.mce-content-body img[data-mce-selected] {
		outline: 1px solid #777;
	}

	.mce-content-body img[data-mce-resize="false"] {
		outline: 0;
	}

	audio,
	video,
	embed {
		display: -moz-inline-stack;
		display: inline-block;
	}

	audio {
		visibility: hidden;
	}

	/**
	 * WP Views
	 */

	.wpview-wrap {
		width: 99.99%; /* All IE need hasLayout, incl. 11 (ugh, not again!!) */
		position: relative;
		clear: both;
	}

	/* delegate the handling of the selection to the wpview tinymce plugin */
	.wpview-wrap,
	.wpview-wrap * {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	/* hide the shortcode content, but allow the content to still be selected */
	.wpview-wrap .wpview-clipboard,
	.wpview-wrap > p {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		clip: rect(1px 1px 1px 1px); /* IE7 */
		clip: rect(1px, 1px, 1px, 1px);
		overflow: hidden;
		outline: 0;
		padding: 0;
		border: 0;
		width: 1px;
		height: 1px;
	}

	/* An ugly box will appear when this is focussed in IE, so we'll move it outside the window. */
	.wpview-wrap.wpview-selection-before > p,
	.wpview-wrap.wpview-selection-after > p {
		left: -10000px;
	}

	.wpview-wrap .wpview-clipboard,
	.wpview-wrap .wpview-clipboard *,
	.wpview-wrap > p {
		-moz-user-select: text;
		-webkit-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}

	.has-focus .wpview-wrap.wpview-selection-before:before,
	.has-focus .wpview-wrap.wpview-selection-after:before {
		content: '';
		margin: 0;
		padding: 0;
		position: absolute;
		top: -2px;
		left: -3px;
		bottom: -2px;
		width: 1px;
		background-color: black;
		background-color: currentcolor;
		opacity: 1;
	}

	.has-focus .wpview-wrap.wpview-selection-after:before {
		left: auto;
		right: -3px;
	}

	.has-focus .wpview-wrap.wpview-cursor-hide:before {
		opacity: 0;
	}

	/**
	 * Media previews
	 */
	.wpview-wrap {
	    position: relative;
	    margin-bottom: 16px;
		border: 1px solid transparent;
	}

	.wpview-wrap[data-mce-selected] {
		background-color: rgba(0,0,0,0.1);
		border-color: rgba(0,0,0,0.3);
	}

	.ie8 .wpview-wrap[data-mce-selected],
	.ie7 .wpview-wrap[data-mce-selected] {
		background-color: #e5e5e5;
		border-color: #777;
	}

	.wpview-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.wpview-wrap[data-mce-selected] .wpview-overlay {
		display: none;
	}

	.wpview-wrap .loading-placeholder {
		border: 1px dashed #ccc;
		padding: 10px;
	}

	.wpview-wrap[data-mce-selected] .loading-placeholder {
		border-color: transparent;
	}

	/* A little "loading" animation, not showing in IE < 10 */
	.wpview-wrap .wpview-loading {
		width: 60px;
		height: 5px;
		overflow: hidden;
		background-color: transparent;
		margin: 10px auto 0;
	}

	.wpview-wrap .wpview-loading ins {
		background-color: #333;
		margin: 0 0 0 -60px;
		width: 60px;
		height: 5px;
		display: block;
		-webkit-animation: wpview-loading 1.3s infinite 1s linear;
		animation: wpview-loading 1.3s infinite 1s linear;
	}

	@-webkit-keyframes wpview-loading {
		0% {
			margin-left: -60px;
		}
		100% {
			margin-left: 60px;
		}
	}

	@keyframes wpview-loading {
		0% {
			margin-left: -60px;
		}
		100% {
			margin-left: 60px;
		}
	}

	.wpview-wrap .wpview-content > iframe {
		max-width: 100%;
		background: transparent;
	}

	.wpview-error {
		border: 1px solid #dedede;
		padding: 1em 0;
		margin: 0;
		word-wrap: break-word;
	}

	.wpview-wrap[data-mce-selected] .wpview-error {
		border-color: transparent;
	}

	.wpview-error .dashicons,
	.loading-placeholder .dashicons {
		display: block;
		margin: 0 auto;
		width: 32px;
		height: 32px;
		font-size: 32px;
	}

	.wpview-error p {
		margin: 0;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
	}

	.wpview-type-gallery:after {
	    content: '';
		display: table;
	    clear: both;
	}

	.gallery img[data-mce-selected]:focus {
		outline: none;
	}

	.gallery a {
		cursor: default;
	}

	.gallery {
		margin: auto -6px;
		padding: 6px 0;
		line-height: 1;
		overflow-x: hidden;
	}

	.ie7 .gallery,
	.ie8 .gallery {
		margin: auto;
	}

	.gallery .gallery-item {
		float: left;
		margin: 0;
		text-align: center;
		padding: 6px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.ie7 .gallery .gallery-item,
	.ie8 .gallery .gallery-item {
		padding: 6px 0;
	}

	.gallery .gallery-caption,
	.gallery .gallery-icon {
		margin: 0;
	}

	.gallery .gallery-caption {
		font-size: 13px;
		margin: 4px 0;
	}

	.gallery-columns-1 .gallery-item {
		width: 100%;
	}

	.gallery-columns-2 .gallery-item {
		width: 50%;
	}

	.gallery-columns-3 .gallery-item {
		width: 33.333%;
	}

	.ie8 .gallery-columns-3 .gallery-item,
	.ie7 .gallery-columns-3 .gallery-item {
		width: 33%;
	}

	.gallery-columns-4 .gallery-item {
		width: 25%;
	}

	.gallery-columns-5 .gallery-item {
		width: 20%;
	}

	.gallery-columns-6 .gallery-item {
		width: 16.665%;
	}

	.gallery-columns-7 .gallery-item {
		width: 14.285%;
	}

	.gallery-columns-8 .gallery-item {
		width: 12.5%;
	}

	.gallery-columns-9 .gallery-item {
		width: 11.111%;
	}

	.gallery img {
		max-width: 100%;
		height: auto;
		border: none;
		padding: 0;
	}

	img.wp-oembed {
		border: 1px dashed #888;
		background: #f7f5f2 url(images/embedded.png) no-repeat scroll center center;
		width: 300px;
		height: 250px;
		outline: 0;
	}
}