.page-collection
	.collection-description 
		padding: 1em
		&.no-padding
			padding: 0
			.list 
				padding: 1em
		.collection-info
			.group
				.cell 
					&.image 
						width: $h / 3
						padding: 2em 1em
						text-align: center
						img 
							max-width: 100%
					&.description
						width: $h - $h / 3
						padding: 1em
						p 	
							margin-bottom: .25em
					@media (max-width: 500px) 
						width: 100% !important
		+collection-list