.page-order
	.order-place
		+title
		.products-table
			padding: 1em 
			@media (max-width: $site-width) 
				overflow-x: scroll
				width: 100%
				margin-bottom: 1em
				table 
					width: $site-width
			.remove
				display: block 
				@extend .icons-remove
				float: right
				cursor: pointer
				opacity: 0
				margin-top: 5px
			table 
				th, td 
					&:first-child 
						border-left: 0
					&:last-child
						border-right: 0
				th 
					background: #FFF
					color: #334456
					font-weight: 500
					text-align: center
					padding: 1em
					text-transform: uppercase
					font-size: .9em
					border: 1px solid $border
					border-top: 0
				tr 
					+transition(.6s)
					&:nth-child(odd) 
						background: shade(#FFF,1)
					&:nth-child(even) 
						background: #FFF
					&:hover
						background: shade(#FFF,4)	
						.remove 
							opacity: 1
					td 
						border: 1px solid $border
						text-align: center
						padding: .5em
						position: relative
						font-size: .9em
						color: $blue
						font-weight: 500
						&:nth-child(2) 
							max-width: 16em
						input 
							width: 6em
							display: inline-block
							margin-bottom: 0
							height: 30px
						a 
							font-weight: 500
							color: $blue
						img 
							max-width: 10em
					&.final-price
						margin-top: 1em
						td 
							text-align: right 
							background: #EFF4F8
							padding: 1em .5em
							border-bottom: 0
							span 
								font-size: 1.3em
								vertical-align: middle
								color: #334456
								font-weight: 500
							strong 
								font-weight: 500
								font-size: 1.5em
								color: $pink
								vertical-align: middle
							@media (max-width: $site-width) 
								text-align: left 
		.form
			padding: 1em
			h2 
				text-transform: none
				border-bottom: 1px solid $border
				padding-bottom: .5em
				margin-bottom: 1em
			.group
				.cell
					&:nth-child(1) 
						padding-right: 1.5em
					&:nth-child(2) 
						padding-left: 1.5em
					@media (max-width: 1000px) 
						padding: 0 !important
					div 
						color: #334456
						>span 
							font-weight: 400
							margin-bottom: .5em
							display: block
						input, select, textarea
							border-color: #D8D8D8
							border-radius: 0
					.checks
						padding-top: 2em
						label 
							>span 
						.space 
							height: 3em
					.submit
						text-align: center
						padding-top: 1em
						.btn 
							background: #4C81B4
							border-color: #4C81B4
							color: #FFF
							display: inline-block
							font-size: 1.2em
		.delivery
			.list 
				label 
					display: block
					+after
					// +test
					.row 
						float: left
						&:nth-child(1) 
							width: 25%
							padding-top: 1em
						&:nth-child(2) 
							width: 75%
						i 
							vertical-align: top 
						.icheckbox_minimal-red
							margin-top: 1em
							vertical-align: middle 
							display: inline-block
							margin-bottom: 0
							margin-right: 1em
						p 
							text-align: justify
							margin-bottom: .5em
							&:nth-child(1) 
								color: $blue-dark
								font-weight: 600
							&:nth-child(2) 
								font-size: .9em
					&:nth-child(1) 
						.row 
							&:nth-child(1) 
								i 
									margin-top: .5em
		.btn
			display: inline-block
			text-transform: uppercase
			font-size: 1.5em
	.response
		+title
		.response-place
			text-align: center
			padding: 1em
			div 
				span 
					vertical-align: top
					display: inline
				&:nth-child(1) 
					text-transform: uppercase
					color: $pink 
					font-weight: 500
					font-size: 1.333em
					margin-bottom: .5em
				&:nth-child(2) 
					color: $blue-dark
					margin-bottom: .5em
					font-weight: 600
				&:nth-child(3) 
					color: $blue-dark
					margin-bottom: 1em