.page-manufacturers
	.manufacturers-list
		padding: 1em
		.group
			border: 1px solid $border
			margin-bottom: 1em
			&:last-child 
				margin-bottom: 0
			.cell 
				min-height: 9em
				&:nth-child(1) 
					width: $h / 3
					padding: 1em
					text-align: center
					a 
						img 
							+hoverOpacity(.5,.6s)
							max-width: 100%
				&:nth-child(2) 
					width: $h - $h / 3
					padding: 1em
					border-left: 1px solid $border
					.name 
						margin-bottom: .5em
						font-size: 1.2em
					.description
						p 
							margin-bottom: 0em
							a 
								color: #334456
								&:hover
									color: tint(#334456, 33)
				@media (max-width: 500px) 
					width: 100% !important
					min-height: auto
					&:nth-child(2) 
						padding-top: 0
.page-manufacturers-inner
	.place
		.info
			.group
				.cell 
					&.image 
						width: $h / 3
						padding: 2em 1em
						text-align: center
						img 
							max-width: 100%
					&.description
						width: $h - $h / 3
						padding: 1em
					@media (max-width: 500px) 
						width: 100% !important
			p 	
				margin-bottom: .25em
			.more-info
				padding: 1em
			h2 
		.products 
			padding: 1em
		+collection-list