.search-page
	.search-filter
		padding: 1em
		.group
			.cell 
				padding-right: 1em
				&:nth-child(1) 
					width: 40%
				&:nth-child(2)
					width: 20% 
				&:nth-child(3)
					width: 20% 
					margin-top: -.25em
				&:nth-child(4)
					width: 20% 
					padding-right: 0
				@media (max-width: 820px) 
					width: 50% !important
					margin: 0
					padding: 0
					&:nth-child(1), &:nth-child(2) 
						padding-bottom: .5em
					&:nth-child(1), &:nth-child(3) 
						padding-right: .5em
					&:nth-child(2), &:nth-child(4) 
						padding-left: .5em
				@media (max-width: 500px) 
					width: 100% !important
					padding: 0 !important
					padding-bottom: 1em !important
					&:last-child 
						padding-bottom: 0 !important
				input, select
					margin-bottom: 0
				.btn 
					padding: .5em
					font-size: 1.333em
	.sort
		padding: 1em
		text-align: right
		+after
		h2 
			float: left 
			margin-left: 0
			padding-top: .5em
		div 
			display: inline-block
			margin-left: 1em
			select
				width: auto
				display: inline-block
				vertical-align: middle
				margin-bottom: 0
			span 
				margin-right: .5em