.page-card
	.product 
		padding: 1em .5em 0
		.group 
			.cell 
				width: 50%
				padding-right: 3em
				@media (max-width: 742px) 
					width: 100%
					padding-right: 0
				&.image
					.level-0 
						margin-bottom: 1em
						padding: 0 .5em
						+img(20em)
						.img 
						img 
							border: $border 1px solid
							border-radius: .5em
							max-width: 100%
							@media (max-width: 742px) 
								width: 100%
					.level-1
						.product-slider-small
							padding: 0 -.5em	
							.owl-item
								padding: 0 .5em
								&:nth-child(4n) 
									// padding-right: 0
							.item 
								+img(6em)
								cursor: pointer
								@media (max-width: 742px) 
									+img(12em)
								.img 
									border: $border 1px solid
									border-radius: .5em
				&.options
					padding-bottom: 1em
					h1, strong
						color: #334456
						font-weight: 500
					h1 
						font-size: 1.333em
						text-transform: none
					p 
						margin-bottom: .5em
					strong 
						font-size: 1.111em
					span 
						font-size: 1.111em
						color: #696969
					.price-place
						padding-top: 1em
						padding-bottom: 1em
						+after
						.price 
							float: left 
							width: 50%
							color: #FF2323
							font-size: 2em
							font-weight: 500
							padding-top: .75em
						.buy 
							float: left 
							width: 50%
							@media (max-width: 380px) 
								width: 100%
								text-align: center
							.btn 
								font-weight: 500
								background: #4C81B4
								border-color: #4C81B4
								padding: .75em 1em
								text-align: center
								font-size: 2em
								color: #FFF
								border-radius: .5em
								+hoverOpacity(.92, .6s)
								@media (max-width: 380px) 
									margin-top: .5em
					.more
						font-size: 1.2em
						span 
							color: $text
						a 
							font-weight: 500 
	.product-description
		.tabs 
			+after 
			background: #F1F6F9
			div 
				float: left 
				width: 50%
				text-align: center 
				font-size: 1.5em
				color: #8AAABB
				text-transform: uppercase
				padding: .75em 1em
				border-bottom: 1px solid $border 
				cursor: pointer
				@media (max-width: 500px) 
					font-size: 1em
				@media (max-width: 340px) 
					font-size: .8em
				+hoverOpacity(.8,.6s)
				i 
					margin-right: .5em
				&.active 
					color: $red 
					border-bottom: 1px solid #FFF
					background: #FFF
					&:nth-child(1) 
						border-right: 1px solid $border 
						border-radius: 0 4px 4px 0
					&:nth-child(2) 
						border-left: 1px solid $border 
						border-radius: 0 4px 0px 0
		.hidden-places
			display: none
			padding: 1em
			&.section-1
				display: block
			@media (max-width: 340px) 
				font-size: .8em