.page-catalog 
	.filter
		.part-0 
			.group 
				padding: 2em 1em 1em
				.cell 
					margin-bottom: .5em
					.btn 
						display: block
						text-transform: none
						font-size: 1em
		.part-1 
			$b: #C8E6EF
			border-top: $b 3px solid
			+after
			// border-bottom: $b 3px solid
			.group 
				.cell 
					padding: 1em 2em
					border-right: $b 1px solid
					&:last-child 
						border-right: 0
					.filter-title 
						color: #2A586F
						text-transform: uppercase
						font-size: 1em
						margin-bottom: .5em
					.filters
						&.inputs
							div 
								margin-bottom: 1em
								span 
									color: #666
									vertical-align: middle
									width: 1.5em
									display: inline-block
									font-size: .9em
								input 
									display: inline-block
									vertical-align: middle
									height: 22px
									font-size: .9em
									margin: 0
									margin-left: .5em
									width: 8em
					.checks
						padding-bottom: 1.5em
						label 
							span 
								font-size: .9em
								font-weight: 500
								color: #535353
		.part-2
			// margin-top: .5em
			&.sort 
				background: #C8E6EF
				+ullireset
				+after
				span 
					color: #334456
					font-weight: 500
					font-size: 1.2em
					padding: .75em 1em
					display: block
					float: left 
				ul 
					float: left
					li 
						float: left 
						color: #334456
						font-weight: 500
						font-size: 1.2em
						padding: .75em .5em
						cursor: pointer
						+transition(.6s)
						&:hover
							color: #FFF
							background: rgba($pink, .5)
						&.active
							color: #FFF
							background: $pink
	.dropdown-list
		display: none
	.open-dropdown-list
		.icons-close-dropdown
			display: none	
