.index-page
	.index-product-list
		min-height: 10em
		.tabs 
			+after 
			background: #F1F6F9
			div 
				float: left 
				width: 50%
				text-align: center 
				font-size: 1.5em
				color: $red 
				text-transform: uppercase
				padding: 1em
				border-bottom: 1px solid $border 
				@media (max-width: 662px) 
					height: 5em
				@media (max-width: 500px) 
					font-size: 1em
					font-weight: 500
				i 
					margin-right: .5em
				&.active 
					border-bottom: 1px solid #FFF
					background: #FFF
					&:nth-child(1) 
						border-right: 1px solid $border 
						border-radius: 0 4px 4px 0
		.product-category-tags
			text-align: center
			padding: 1em
			a 
				margin-right: 1em
				display: inline-block
				&:last-child 
					margin-right: 0px
				&.active 
					background: #F1F6F9
					border-radius: 4px
					padding: .5em 1em
					color: $green
	.index-popular-models-and-seo-text
		.popular-models
			border-top: 1px $border solid
			h2 
				padding: .5em 1em 0
	.index-promo
		.about
			.cell 
				&:nth-child(1) 
					width: $h / 3.5
				&:nth-child(2) 
					width: $h - $h / 3.5
					padding-left: 1em
					padding-top: 1.5em
					p 
						text-align: justify
						line-height: 1.5em
				@media (max-width: 800px) 
					width: 100% !important
					&:nth-child(1) 
						text-align: center
					&:nth-child(2) 
						padding-left: 0
		.advantages
			padding: 2em 0 1em
			.cell 
				position: relative
				padding-left: 6em
				padding-top: .5em
				min-height: 8em
				width: $h / 3
				@media (max-width: 800px) 
					text-align: center
					padding-left: 0
				@media (max-width: 490px) 
					width: 100%
				span 
					color: $blue 
					text-transform: uppercase
					font-size: 1.2em
					line-height: 1.5em
					@media (max-width: 800px) 
						display: block
						margin: 1em 0
				i 
					position: absolute
					left: 0
					top: 0
					@media (max-width: 800px) 
						position: relative
						left: inherit
						top: inherit
						display: inline-block
