=font($font, $weight)
	@font-face
		$path: "../fonts/"
		font-family: $font
		src: url($path + $font + ".eot?23123")
		src: local("☺"), url($path + $font + ".eot?23123#iefix") format("embedded-opentype"), url($path + $font + ".woff?23123") format("woff"), url($path + $font + ".ttf?23123") format("truetype")
		font-weight: $weight
		font-style: normal

=absoluteLink
	>a
		width: 100%
		height: 100%
		left: 0
		top: 0
		position: absolute
		border-bottom: 0

=after
	&:after
		content: ''
		display: block
		clear: both

=before
	&:before
		content: ''
		display: block
		clear: both

=test
	&:nth-child(even)
		background: rgba(purple, $alpha)
	&:nth-child(odd)
		background: rgba(green, $alpha)

=absoluteReset
	display: block !important
	position: relative !important
	top: auto !important
	left: auto !important
	right: auto !important
	bottom: auto !important

=absoluteCenter
	left: 0
	right: 0
	margin: 0 auto
	position: absolute

=img($height)
	>.img
		background-repeat: no-repeat
		background-size: cover
		width: 100%
		background-position: center
		height: $height
		position: relative
		+absoluteLink

=hoverOpacity($opacity, $time)
	opacity: 1
	+single-transition(opacity, $time)
	&:hover
		opacity: $opacity

=label
	label
		position: relative
		display: block
		margin-bottom: .5em
		span
			padding-left: 1.5em
			font-weight: 400
			color: #000
			display: block
			i 
				margin-right: .333em
		.iradio_minimal-red
			position: absolute !important
			left: 0
			top: 0

=ullireset
	ul 
		padding: 0
		margin: 0 
		li 
			list-style: none
			margin: 0 
			padding: 0

=stars 
	// margin-left: 10px
	background: url($dir + "icons/stars-empty.png")
	height: 12px
	width: 74px
	display: inline-block
	vertical-align: middle
	@include after
	>span 
		@extend .icons-stars-full
		float: left
		display: block
=big-stars 
	margin-left: 10px
	background: url($dir + "icons/big-stars-empty.png")
	height: 21px
	width: 126px
	display: inline-block
	vertical-align: middle
	@include after
	>span 
		@extend .icons-big-stars-full
		float: left
		display: block
=title
	.title
		position: relative
		@include after
		@include before
		padding: .5em 0
		margin-bottom: 1em
		&:after 
			background: #DFDFDF
			position: absolute
			bottom: 0
			width: 60px
			height: 3px
			left: .5em
			z-index: 6
		&:before 
			background: #F9F9F9
			// background: red
			position: absolute
			bottom: 1px
			width: 98%
			height: 1px
			right: 0	
			z-index: 4	
		h1, h2, h3
			text-transform: uppercase
			font-size: 18px
			font-weight: 600
			color: $red
		.btn 
			position: absolute
			right: 0
			top: .333em
=list($count)
	.list
		+ullireset
		border-top: 1px solid $border
		padding: .5em 0
		ul 
			li 
				float: left 
				display: block
				margin-bottom: .5em
				padding-right: 1em
				padding-left: 0
				@if $count == "1"
					width: $h				
				@else if $count == "2"
					width: $h / 2					
					&:nth-child(2n) 
						padding-right: 0
						padding-left: 1em 
				@else
					width: $h / 3
					&:nth-child(3n) 
						padding-right: 0
						padding-left: 1em 
					@media (max-width: 500px) 
						width: 100%
						padding: 0 !important
				>a, >span
					color: #20789E
					font-size: 1.1em
					padding: .5em 1.25em
					font-weight: 400
					display: block
					border-bottom: 1px dashed $blue 
					position: relative
					cursor: pointer
					+after
					&:after 
						@extend .icons-black-arrow-right
						position: absolute 
						left: .5em
						top: .75em
				&:hover 
					>a, >span
						color: $pink
=collection-list
	.collection-list
		padding: 1em
		h4 
			border-bottom: 1px solid #C8E6EF 
			padding-bottom: .5em
			margin-bottom: 1em
		div 
			a 
				margin-bottom: 1em
				margin-right: .5em