$dir: "../images/";
$test: false;
$site-width: 1140px;
$site-font-size: 14px;
$site-line-height: 18px;
$h: 100%;

$main-bg: #FFF;

$red: #FF2323;
$white: #FFF;
$green: #00E900;
$brown: #FF8900;
$blue: #006EA8;
$blue2: #00A3D6;
$blue-dark: #2A586F;
$orange: #FF6600;
$pink: #FF299B;
$pink2: #FF2B9D;
$yellow: #FFA900; // это для бекграундов
$yellow2: #FF9D00; // это для текста
$input-color: #334456;

$border-orange: #EB7000;

$footer: #3C4149;

$gray: #80868A;
$text: #393939;
$blue-text: #2A586F;
$text2: #2C302E;
$title: #383838;
$link: $blue;
$subtext: shade($text, 75);
$placeholder: #B3B3B3;

$border: #C8E6EF;

$wrapper-animate: cubic-bezier(0.04, 1.01, 1, 1);
$alpha: .333;